<div class="flex flex-row lg:my-12 p-8 lg:mx-48 xl:mx-96 justify-center border">
    @if(!wasRecoverySuccessful){
    <div [formGroup]="form" class="flex flex-col w-full gap-y-6">
        <img class="max-w-[89px] max-h-[25px]" src="images/logo/logo89x25.webp" alt="logo">
        <!-- Error box -->
        @if(errors.length > 0 && !isLoading){
        <app-messagebox [showTitle]="true" [messages]="errors" />
        }
        <h1 class="text-3xl font-bold">Password recovery</h1>
        <div class="flex flex-col gap-y-2">
            <label for="username">Username:</label>
            <input type="text" pInputText formControlName="username" />
            @if(form.controls["username"].invalid && form.controls["username"].dirty){
            <small id="username-error" class="p-error block">Username is required.</small>
            }
        </div>
        <div class="flex flex-col gap-y-2">
            <label for="email">Email linked to account:</label>
            <!-- We need to modify both 'inputStyleClass' and  'styleClass' to alter the style of the component -->
            <input type="email" pInputText formControlName="email" />
            @if(form.controls["email"].invalid && form.controls["email"].dirty){
            <small id="email-error" class="p-error block">A valid email is required.</small>
            }
        </div>
        <span class="font-bold text-lg">You will receive an email with instructions to follow in order to recover your
            password.</span>
        @if(!isLoading){
        <div>
            <button pButton pRipple class="w-full p-button-primary" (click)="recoverPassword()"
                label="Send code"></button>
        </div>
        <div class="flex justify-center">
            <a class="block text-blue-500 underline" routerLink="/{{APP_ROUTES.auth.login.route}}">
                Log in
            </a>
        </div>
        }@else{
        <app-loading />
        }
    </div>
    }@else{
    <div class="flex flex-col w-full gap-y-6 items-center">
        <span class="block text-3xl font-bold">Se ha asignado una nueva contraseña.</span>
        <div class="flex flex-col gap-y-2">
            <span class="block font-semibold">{{successMessage}}</span>
            <span class="block font-semibold">If you don't find the email, search in the spam folder.</span>
        </div>
        <a class="block text-blue-500 underline" routerLink="/{{APP_ROUTES.auth.login.route}}">
            Log in
        </a>
    </div>
    }
    <!--toast-->
    <p-toast key="toast" />
</div>